Repository hata6502/pencil: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

JSX での記述を保留し、Type を定義しました。
  pencil/package.json
  pencil/resources/ts/@types/background-button.d.ts
  pencil/resources/ts/@types/virtual-element.d.ts
  pencil/resources/ts/drawing-window/background-button.ts
  pencil/resources/ts/drawing-window/background-button.tsx
  pencil/resources/ts/drawing-window/background-dialog.ts
  pencil/resources/ts/drawing-window/background-dialog.tsx
  pencil/resources/ts/virtual-element.ts
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix

Element の Picking に対応しました。
  pencil/resources/ts/@types/background-button.d.ts
  pencil/resources/ts/@types/background-file-button.d.ts
  pencil/resources/ts/@types/virtual-element.d.ts
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/background-button.ts
  pencil/resources/ts/drawing-window/background-dialog.ts
  pencil/resources/ts/drawing-window/background-file-button.ts
  pencil/resources/ts/drawing-window/background-file.ts
  pencil/resources/ts/virtual-element.ts
Due: prettier --write, eslint --fix

VirtualElement を使用して BackgroundDialog Component を作成しました。
  .lintstagedrc.json
  package.json
  pencil/.eslintrc.js
  pencil/resources/sass/index.scss
  pencil/resources/ts/.eslintrc.js
  pencil/resources/ts/@types/background-button.d.ts
  pencil/resources/ts/@types/background-file-button.d.ts
  pencil/resources/ts/drawing-window/background-dialog.ts
  pencil/resources/ts/drawing-window/background-dialog/button.ts
  pencil/resources/ts/drawing-window/background-dialog/file-button.ts
  pencil/resources/ts/drawing-window/background-dialog/file.ts
  pencil/resources/ts/drawing-window/background-dialog/index.ts
  pencil/resources/ts/index.ts
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix, stylelint --fix

VirtualElement を使用して BackgroundDialog Component を作成しました。
  .lintstagedrc.json
  package.json
  pencil/.eslintrc.js
  pencil/resources/sass/index.scss
  pencil/resources/ts/.eslintrc.js
  pencil/resources/ts/@types/background-button.d.ts
  pencil/resources/ts/@types/background-file-button.d.ts
  pencil/resources/ts/@types/virtual-element.d.ts
  pencil/resources/ts/drawing-window/background-dialog.ts
  pencil/resources/ts/drawing-window/background-dialog/button.ts
  pencil/resources/ts/drawing-window/background-dialog/file-button.ts
  pencil/resources/ts/drawing-window/background-dialog/file.ts
  pencil/resources/ts/drawing-window/background-dialog/index.ts
  pencil/resources/ts/index.ts
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix, stylelint --fix

JSX は使用していないため型定義を削除。
  pencil/resources/ts/@types/virtual-element.d.ts
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix

ServiceWorker のキャッシュをクリア。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

LocalStorage でのお絵かきバックアップに対応しました。
  package.json
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/settings.ts
  tsconfig.json
Due: prettier --write, eslint --fix

適切な tsconfig.json を設定しました。
  package.json
  pencil/tsconfig.json
Due: none

ServiceWorker 更新。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

ServiceWorker 更新。
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/index.ts
  pencil/resources/ts/preview-canvas.ts
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

サーバー保存ボタンと通信を実装しました。
  pencil/app/Http/Controllers/TopController.php
  pencil/app/Http/Middleware/VerifyCsrfToken.php
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/index.ts
  pencil/resources/ts/settings.ts
  pencil/resources/views/index.blade.php
  pencil/routes/web.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

お絵かきの正規化を高速化しました。
  pencil/resources/ts/drawing-window/drawing-canvas.ts
Due: prettier --write, eslint --fix

restore を実装しました。
  pencil/app/Http/Controllers/TopController.php
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/settings.ts
  pencil/routes/web.php
Due: prettier --write, eslint --fix

サーバーバックアップをフロント実装しました。
  pencil/app/Http/Controllers/TopController.php
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/index.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

サーバーにお絵かきデータをバックアップするため、プライバシーポリシーに明記しました。
  pencil/resources/views/index.blade.php
Due: prettier --write, htmllint, textlint

canvas の機能を切り分け中。
  pencil/resources/ts/canvas-utils.ts
  pencil/resources/ts/drawing-window/background-canvas.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/index.ts
  pencil/resources/ts/preview-canvas.ts
Due: prettier --write, eslint --fix

PreviewCanvas に Drawing と Background を合成しました。
  pencil/resources/ts/canvas-utils.ts
  pencil/resources/ts/drawing-window/background-canvas.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/drawing-window/modal-window.ts
  pencil/resources/ts/index.ts
  pencil/resources/ts/preview-canvas.ts
Due: prettier --write, eslint --fix

PostFormElement を作成しました。
  pencil/resources/ts/index.ts
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/preview-canvas.ts
Due: prettier --write, eslint --fix

Twitter へのお絵かき投稿を実装しました。
  pencil/app/Http/Controllers/TwitterController.php
  pencil/composer.json
  pencil/composer.lock
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/preview-canvas.ts
  pencil/resources/views/draw.blade.php
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

画像関係の API に認証をかけました。
  pencil/app/Http/Controllers/ImageController.php
  pencil/app/Http/Controllers/TopController.php
  pencil/resources/views/index.blade.php
  pencil/routes/web.php
Due: prettier --write, htmllint, textlint

バックアップのサーバー実装をしました。
  pencil/app/Http/Controllers/AuthController.php
  pencil/app/Http/Controllers/ImageController.php
  pencil/app/User.php
  pencil/database/migrations/2014_10_12_000000_create_users_table.php
Due: none

ServiceWorker のキャッシュを更新。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

キャンバスを閉じたときにもバックアップするようにしました。
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/index.ts
Due: prettier --write, eslint --fix

Sentry を開発環境では実行しないように修正しました。
  pencil/resources/ts/index.ts
Due: prettier --write, eslint --fix

Wii U にてダイアログを閉じるときにエラーが発生していたため対処しました。
  pencil/resources/ts/drawing-window/modal-window.ts
Due: prettier --write, eslint --fix

ServiceWorker を更新しました。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

ServiceWorker のキャッシュを手動設定しました。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

お絵かき用JSを /draw ページでのみ読み込むように一時対処しました。
  pencil/resources/ts/index.ts
Due: prettier --write, eslint --fix

認証が必要なページはキャッシュしないように修正しました。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

lighthouse 対策をしました。
  pencil/public/manifest.json
  pencil/resources/ts/service-worker.ts
  pencil/resources/views/draw.blade.php
  pencil/resources/views/html.blade.php
  pencil/resources/views/meta.blade.php
Due: prettier --write, eslint --fix, htmllint, textlint

virtual-element を npm パッケージとして分離しました。
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/ts/drawing-window/background-canvas.ts
  pencil/resources/ts/drawing-window/background-dialog/button.ts
  pencil/resources/ts/drawing-window/background-dialog/file-button.ts
  pencil/resources/ts/drawing-window/background-dialog/file.ts
  pencil/resources/ts/drawing-window/background-dialog/index.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/drawing-window/history-button.ts
  pencil/resources/ts/drawing-window/modal-dialog.ts
  pencil/resources/ts/drawing-window/modal-window.ts
  pencil/resources/ts/drawing-window/palette-button.ts
  pencil/resources/ts/drawing-window/pencil-button.ts
  pencil/resources/ts/drawing-window/stick-cursor.ts
  pencil/resources/ts/drawing-window/text-input.ts
  pencil/resources/ts/drawing-window/tone-canvas.ts
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/preview-canvas.ts
  pencil/resources/ts/virtual-element.ts
Due: prettier --write, eslint --fix

ツールバーがスクロールすることを示すように UI を改善しました。
  browserslist
  pencil/resources/sass/_draw.scss
Due: prettier --write, stylelint --fix

テキスト入力を廃止しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/drawing-window/text-input.ts
  pencil/resources/ts/index.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

ツールバー端の影のz-indexを修正しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/views/draw.blade.php
Due: prettier --write, stylelint --fix, htmllint, textlint

modal の整理をしました。
  pencil/resources/sass/_draw.scss
  pencil/resources/sass/_modal-window.scss
  pencil/resources/sass/index.scss
  pencil/resources/ts/drawing-window/background-dialog/index.ts
  pencil/resources/ts/drawing-window/modal-dialog.ts
  pencil/resources/ts/index.ts
  pencil/resources/ts/loading-modal/index.ts
  pencil/resources/ts/modal-window.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

キャンバスを閉じるときと画像添付時に読み込み表示をするようにしました。
  pencil/resources/ts/drawing-window/background-dialog/index.ts
  pencil/resources/ts/index.ts
  pencil/resources/ts/loading-modal/index.ts
  pencil/resources/ts/modal-window.ts
  pencil/resources/ts/settings.ts
Due: prettier --write, eslint --fix

バックアップ読み込み時の履歴が登録されない不具合を修正しました。
  pencil/resources/ts/drawing-window/drawing-canvas.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{blade.php,html})) or (any of: *.{yaml,yml,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  htmllint: any of: *.{blade.php,html}
  textlint: (any of: *.{blade.php,html}) or (any of: *.{yaml,yml,md})
