Repository hata6502/pencil: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

バックエンドのLintをLarastanに変更。
  .gitignore
  .huskyrc.json
  .lintstaged-phpmd
  .lintstagedrc.json
  composer.json
  composer.lock
  package.json
  pencil/composer.json
  pencil/composer.lock
Due: none

Twitter Card を設定しました。
  pencil/.env.example
  pencil/resources/views/meta.blade.php
Due: prettier --write, ./.lintstaged-phpmd

Twitter 認証と BASIC 認証を導入しました。
  pencil/.env.example
  pencil/.gitignore
  pencil/app/Http/Controllers/Auth/ForgotPasswordController.php
  pencil/app/Http/Controllers/Auth/LoginController.php
  pencil/app/Http/Controllers/Auth/RegisterController.php
  pencil/app/Http/Controllers/Auth/ResetPasswordController.php
  pencil/app/Http/Controllers/Auth/VerificationController.php
  pencil/app/Http/Kernel.php
  pencil/composer.json
  pencil/composer.lock
  pencil/config/app.php
  pencil/routes/web.php
Due: prettier --write, ./.lintstaged-phpmd

Twitter 認証のCallbackをフルパスで指定しました。
  package-lock.json
  package.json
  pencil/.env.example
  pencil/app/Http/Controllers/Auth/LoginController.php
  pencil/app/User.php
  pencil/config/app.php
  pencil/database/migrations/2014_10_12_000000_create_users_table.php
  pencil/database/migrations/2014_10_12_100000_create_password_resets_table.php
  pencil/routes/web.php
Due: prettier --write, ./.lintstaged-phpmd

laravel-backup を導入しました。
  pencil/.gitignore
  pencil/app/Console/Kernel.php
  pencil/app/Http/Controllers/AuthController.php
  pencil/app/Http/Controllers/TopController.php
  pencil/app/Http/Controllers/TwitterController.php
  pencil/composer.json
  pencil/composer.lock
  pencil/resources/views/index.blade.php
  pencil/routes/web.php
Due: prettier --write, ./.lintstaged-phpmd

TwitterOAuth を導入しました。
  pencil/composer.json
  pencil/composer.lock
  pencil/config/twitteroauth.php
Due: prettier --write, ./.lintstaged-phpmd

Twitter API を試験的に導入しました。
  pencil/app/Http/Controllers/AuthController.php
  pencil/app/Http/Controllers/TwitterController.php
  pencil/app/User.php
  pencil/database/migrations/2014_10_12_000000_create_users_table.php
  pencil/resources/views/errors/404.blade.php
  pencil/resources/views/errors/500.blade.php
Due: prettier --write, ./.lintstaged-phpmd

SCSS をファイル分割しました。
  pencil/resources/sass/_colors.scss
  pencil/resources/sass/_draw.scss
  pencil/resources/sass/_layout.scss
  pencil/resources/sass/_typography.scss
  pencil/resources/sass/app.scss
  pencil/resources/sass/ress.min.css
Due: prettier --write, stylelint --fix

textlint を導入しました。
  .lintstagedrc.json
  .textlintrc.json
  package-lock.json
  package.json
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd

textlint や prettier を Laravel Blade に適用してみました。
  .lintstagedrc.json
  .textlintrc.json
  package-lock.json
  package.json
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd

blade.php の lint 設定を最適化しました。
  .lintstagedrc.json
  .prettierrc.json
Due: none

htmllint を試験的に導入。
  .htmllintrc
  .lintstagedrc.json
  package-lock.json
  package.json
  pencil/resources/sass/_layout.scss
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, stylelint --fix

既存の blade にも lint を適用しました。
  .htmllintrc
  package-lock.json
  package.json
  pencil/resources/views/html.blade.php
  pencil/resources/views/index.blade.php
  pencil/resources/views/meta.blade.php
Due: prettier --write, ./.lintstaged-phpmd

Top のデザインを実装始めました。
  .htmllintrc
  pencil/resources/sass/_top.scss
  pencil/resources/sass/_typography.scss
  pencil/resources/sass/app.scss
  pencil/resources/views/draw.blade.php
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, stylelint --fix

トップページ、ヘッダーのデザインを実装しました。
  pencil/resources/sass/_top.scss
  pencil/resources/sass/app.scss
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, stylelint --fix

エラーページをデザイン実装しました。
  .textlintrc.json
  README.md
  package-lock.json
  package.json
  pencil/.env.example
  pencil/config/maintainer.php
  pencil/resources/sass/_buttons.scss
  pencil/resources/sass/_colors.scss
  pencil/resources/sass/_error.scss
  pencil/resources/sass/_top.scss
  pencil/resources/sass/_typography.scss
  pencil/resources/sass/app.scss
  pencil/resources/views/errors/404.blade.php
  pencil/resources/views/errors/500.blade.php
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, stylelint --fix

現時点で本番反映するための準備。
  pencil/resources/ts/palette-button.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix

ローカル環境のTwitterデバッグ環境を構築しました。
  pencil/.env.example
  pencil/app/Http/Controllers/AuthController.php
  pencil/app/Http/Controllers/TwitterController.php
  pencil/config/twitter.php
  pencil/config/twitteroauth.php
  pencil/resources/sass/_error.scss
  pencil/routes/web.php
Due: prettier --write, ./.lintstaged-phpmd, stylelint --fix

開発用と公開用でキャンバスが冗長だったため統一。
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd

描画処理とタッチ判定を分割しました。
  .prettierrc.json
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/pointer-listener.ts
  pencil/resources/ts/stick-cursor.ts
Due: prettier --write, eslint --fix

prettier 一括整形。
  pencil/resources/ts/app.ts
Due: prettier --write, eslint --fix

組込トーンを実装しました。
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/settings.ts
Due: prettier --write, eslint --fix

drawing-widow, drawing-dialog を modal-* として汎化
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window.ts
  pencil/resources/ts/modal-dialog.ts
  pencil/resources/ts/modal-window.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

トーンを選択するテスト用UIを実装しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

線分描画時に0除算が発生するバグを修正。
  pencil/resources/ts/drawing-canvas.ts
Due: prettier --write, eslint --fix

トーンの位相がマイナスになるバグおよびキャンバスの境界の判定を修正。
  pencil/resources/ts/drawing-canvas.ts
Due: prettier --write, eslint --fix

トーンボタンを作成しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/settings.ts
  pencil/resources/ts/tone-canvas.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

canvaas要素を取得できないバグを修正。
  pencil/resources/ts/app.ts
Due: prettier --write, eslint --fix

テーブルレイアウトを使わないように改善。
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd

トーンウィンドウの開閉ボタンを実装しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

バックエンドのLintをLarastanに変更。
  pencil/composer.lock
Due: none

Twitter 認証のCallbackをフルパスで指定しました。
  package-lock.json
  package.json
  pencil/app/Http/Controllers/Auth/LoginController.php
  pencil/app/User.php
  pencil/config/app.php
  pencil/database/migrations/2014_10_12_000000_create_users_table.php
  pencil/database/migrations/2014_10_12_100000_create_password_resets_table.php
  pencil/routes/web.php
Due: prettier --write, ./.lintstaged-phpmd

TwitterOAuth を導入しました。
  pencil/app/Http/Controllers/AuthController.php
  pencil/app/Http/Controllers/TwitterController.php
  pencil/app/User.php
  pencil/composer.json
  pencil/composer.lock
  pencil/config/twitteroauth.php
  pencil/database/migrations/2014_10_12_000000_create_users_table.php
  pencil/resources/views/errors/404.blade.php
  pencil/resources/views/errors/500.blade.php
Due: prettier --write, ./.lintstaged-phpmd

Path conditions:
  prettier --write: (((any of: *.php) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})) or (any of: *.{html,yaml,yml,md})
  ./.lintstaged-phpmd: any of: *.php
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
