Repository hata6502/pencil: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

最初の route 作成および ress 導入。
  .lintstaged-phpmd
  browserslist
  pencil/.gitignore
  pencil/app/Http/Controllers/TopController.php
  pencil/package-lock.json
  pencil/package.json
  pencil/public/css/app.css
  pencil/public/js/app.js
  pencil/public/mix-manifest.json
  pencil/resources/sass/.stylelintrc.json
  pencil/resources/sass/_variables.scss
  pencil/resources/sass/app.scss
  pencil/resources/views/draw.blade.php
  pencil/resources/views/html.blade.php
  pencil/resources/views/meta.blade.php
  pencil/resources/views/welcome.blade.php
  pencil/routes/web.php
  pencil/tsconfig.json
  pencil/webpack.mix.js
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

BlueHood の後継サービス名を Pencil としました。
  pencil/.env.example
Due: none

認証ライブラリ Socialite を導入し、Twitter の設定をしました。
  pencil/.env.example
  pencil/composer.json
  pencil/composer.lock
  pencil/config/services.php
Due: prettier --write, ./.lintstaged-phpmd

DrawingCanvas を作り始めました。
  package-lock.json
  package.json
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/sass/ress.min.css
  pencil/resources/ts/.eslintrc.js
  pencil/resources/ts/DrawingCanvas.ts
  pencil/resources/ts/app.ts
  pencil/resources/views/draw.blade.php
  pencil/resources/views/html.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

eslint と prettier を併用できるようにしました。
  package-lock.json
  package.json
  pencil/public/mix-manifest.json
  pencil/resources/ts/.eslintrc.js
  pencil/resources/ts/DrawingCanvas.ts
Due: prettier --write, eslint --fix

Wii U でのタッチ操作を実装中です。
  pencil/public/mix-manifest.json
  pencil/resources/ts/DrawingCanvas.ts
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
Due: prettier --write, eslint --fix

WiiU での Pencil に対応しました。
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/views/draw.blade.php
  pencil/resources/views/meta.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

キャンバスをモーダルウィンドウにしました。これによって、投稿画面を１画面に収める必要がなくなりました。
  package-lock.json
  package.json
  pencil/public/mix-manifest.json
  pencil/resources/sass/.stylelintrc.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-button.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

pointerup 時のバグ修正。
  pencil/public/mix-manifest.json
  pencil/resources/ts/drawing-canvas.ts
Due: prettier --write, eslint --fix

PreviewDrawing を作成しました。
  pencil/.gitignore
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-button.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/drawing-dialog.ts
  pencil/resources/ts/drawing-window.ts
  pencil/resources/ts/preview-canvas.ts
  pencil/resources/ts/settings.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

セキュリティアラートをもとに npm update。
  package-lock.json
  package.json
Due: none

Wii U でのタッチ操作を実装中です。
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/DrawingCanvas.ts
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/views/draw.blade.php
  pencil/resources/views/meta.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

キャンバスをモーダルウィンドウにしました。これによって、投稿画面を１画面に収める必要がなくなりました。
  pencil/public/.htaccess
  pencil/public/favicon.ico
  pencil/public/index.php
  pencil/public/mix-manifest.json
  pencil/public/robots.txt
  pencil/public/web.config
Due: prettier --write, ./.lintstaged-phpmd

セキュリティアラートをもとに npm update。
  package-lock.json
  package.json
  pencil/package-lock.json
  pencil/package.json
Due: none

stylelint のブラウザチェックを有効化し、IE 9 以上の設定にしました。
  browserslist
  pencil/public/mix-manifest.json
  pencil/resources/sass/.stylelintrc.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/settings.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

CSS プロパティ transform に非対応のため、table と vertical-align で上下中央寄せ対応。
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/drawing-window.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

8色パレットを実装しました。
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/palette-button.ts
  pencil/resources/ts/stick-cursor.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

UNDO, REDO を実装中です。
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/history-button.ts
  pencil/resources/ts/preview-canvas.ts
  pencil/resources/ts/settings.ts
  pencil/resources/ts/stick-cursor.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

スティック操作用のカーソルをデザインしました。
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/settings.ts
  pencil/resources/ts/stick-cursor.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

文字入力を実装中です。
  .lintstagedrc.json
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/settings.ts
  pencil/resources/ts/text-input.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

ペンの太さを変えられるようにしました。
  pencil/public/mix-manifest.json
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/pencil-button.ts
  pencil/resources/ts/settings.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix

エラー通知のためにSentryを導入しました。Wii U だと JavaScript が動作しないため polyfill を導入しました。
  pencil/package-lock.json
  pencil/package.json
  pencil/public/.htaccess
  pencil/public/favicon.ico
  pencil/public/index.php
  pencil/public/mix-manifest.json
  pencil/public/robots.txt
  pencil/public/web.config
  pencil/resources/ts/app.ts
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix

お絵かき機能のみ先行公開するための準備をしました。
  pencil/.gitignore
  pencil/public/mix-manifest.json
  pencil/resources/sass/app.scss
  pencil/resources/ts/drawing-window.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd, eslint --fix, stylelint --fix

Google Analytics を導入しました。
  pencil/resources/views/draw.blade.php
  pencil/resources/views/html.blade.php
Due: prettier --write, ./.lintstaged-phpmd

Laravel Sentry を導入しました。
  pencil/.env.example
  pencil/.gitignore
  pencil/app/Exceptions/Handler.php
  pencil/composer.json
  pencil/composer.lock
  pencil/config/sentry.php
Due: prettier --write, ./.lintstaged-phpmd

SSL ドメイン認証用の設定。
  pencil/.gitignore
Due: none

Update .prettierrc.json
  .prettierrc.json
Due: none

パレットの配置を変更。
  pencil/resources/views/draw.blade.php
Due: prettier --write, ./.lintstaged-phpmd

favicon を png 形式に変更。
  pencil/public/favicon.ico
Due: none

Twitter Card を設定しました。
  pencil/.env.example
  pencil/resources/views/meta.blade.php
Due: prettier --write, ./.lintstaged-phpmd

バックエンドのLintをLarastanに変更。
  .gitignore
  .huskyrc.json
  .lintstaged-phpmd
  .lintstagedrc.json
  composer.json
  composer.lock
  package.json
  pencil/composer.json
  pencil/composer.lock
Due: none

サイトのフルURLを修正。
  .prettierrc.json
  pencil/app/Providers/AppServiceProvider.php
Due: prettier --write, ./.lintstaged-phpmd

URL の調整は nginx で行うことにしました。
  pencil/app/Providers/AppServiceProvider.php
Due: prettier --write, ./.lintstaged-phpmd

Twitter 認証と BASIC 認証を導入しました。
  pencil/.env.example
  pencil/.gitignore
  pencil/app/Http/Controllers/Auth/ForgotPasswordController.php
  pencil/app/Http/Controllers/Auth/LoginController.php
  pencil/app/Http/Controllers/Auth/RegisterController.php
  pencil/app/Http/Controllers/Auth/ResetPasswordController.php
  pencil/app/Http/Controllers/Auth/VerificationController.php
  pencil/app/Http/Kernel.php
  pencil/composer.json
  pencil/composer.lock
  pencil/config/app.php
  pencil/routes/web.php
Due: prettier --write, ./.lintstaged-phpmd

サイトのフルURLを修正。
  .prettierrc.json
Due: none

Path conditions:
  prettier --write: (((any of: *.php) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})) or (any of: *.{yaml,yml,md})
  ./.lintstaged-phpmd: any of: *.php
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
