Repository hata6502/pencil: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix, htmllint, textlint

.lintstagedrc.json:

{
  "!(*.blade).php": [
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings 0",
    "git add"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{blade.php,html}": [
    "prettier --write",
    "htmllint",
    "textlint",
    "git add"
  ],
  "*.{yaml,yml,md}": [
    "prettier --write",
    "textlint",
    "git add"
  ]
}

塗りつぶしのアルゴリズムを実装しました。
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/ts/drawing-window/background-canvas.ts
  pencil/resources/ts/drawing-window/background-dialog/button.ts
  pencil/resources/ts/drawing-window/background-dialog/file-button.ts
  pencil/resources/ts/drawing-window/background-dialog/file.ts
  pencil/resources/ts/drawing-window/background-dialog/index.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/drawing-window/history-button.ts
  pencil/resources/ts/drawing-window/palette-button.ts
  pencil/resources/ts/drawing-window/pencil-button.ts
  pencil/resources/ts/drawing-window/stick-cursor.ts
  pencil/resources/ts/drawing-window/tone-canvas.ts
  pencil/resources/ts/loading-modal/index.ts
  pencil/resources/ts/modal-window.ts
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/preview-canvas.ts
Due: prettier --write, eslint --fix --max-warnings 0

塗りつぶし機能を実装しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/drawing-window/fill-canvas.ts
  pencil/resources/ts/index.ts
  pencil/resources/views/draw.blade.php
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix, htmllint, textlint

ServiceWorker 更新。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix --max-warnings 0

twitter-text を導入しました。
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/textarea.ts
Due: prettier --write, eslint --fix --max-warnings 0

ツイート文の装飾を実装しました。
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/textarea.ts
  pencil/resources/ts/settings.ts
Due: prettier --write, eslint --fix --max-warnings 0

リアルタイムでの装飾をせず、Wii U でもツイートの装飾を可能にしました。
  pencil/app/Http/Controllers/TwitterController.php
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/textarea.ts
Due: prettier --write, eslint --fix --max-warnings 0

Textarea の初期化を修正しました。
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/textarea.ts
Due: prettier --write, eslint --fix --max-warnings 0

velement v0.0.1 を導入しました。
  .lintstagedrc.json
  package-lock.json
  package.json
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/ts/.eslintrc.js
  pencil/resources/ts/drawing-window/background-canvas.ts
  pencil/resources/ts/drawing-window/background-dialog/button.ts
  pencil/resources/ts/drawing-window/background-dialog/file-button.ts
  pencil/resources/ts/drawing-window/background-dialog/file.ts
  pencil/resources/ts/drawing-window/background-dialog/index.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/drawing-window/fill-canvas.ts
  pencil/resources/ts/drawing-window/history-button.ts
  pencil/resources/ts/drawing-window/palette-button.ts
  pencil/resources/ts/drawing-window/pencil-button.ts
  pencil/resources/ts/drawing-window/stick-cursor.ts
  pencil/resources/ts/drawing-window/tone-canvas.ts
  pencil/resources/ts/loading-modal/index.ts
  pencil/resources/ts/modal-window.ts
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/preview-canvas.ts
  pencil/resources/ts/post-form/textarea.ts
Due: prettier --write, eslint --fix --max-warnings 0

velement をアップデートしました。
  pencil/package-lock.json
  pencil/package.json
Due: none

リプライ機能を実装しました。
  pencil/app/Http/Controllers/TwitterController.php
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/reply.ts
  pencil/resources/views/draw.blade.php
  pencil/resources/views/html.blade.php
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix --max-warnings 0, htmllint, textlint

スマホの画面サイズに対応しました。リプライ URL が読み込めないときにエラー表示をします。
  pencil/resources/ts/canvas-utils.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/post-form/reply.ts
  pencil/resources/ts/settings.ts
Due: prettier --write, eslint --fix --max-warnings 0

お絵かきの操作説明を追記しました。
  pencil/resources/views/draw.blade.php
Due: prettier --write, htmllint, textlint

ServiceWroker 更新。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix --max-warnings 0

パッケージのアップデートをして
  package-lock.json
  package.json
  pencil/composer.lock
  pencil/package-lock.json
  pencil/package.json
Due: none

リプライできないバグを修正して
  pencil/resources/ts/post-form/index.ts
  pencil/resources/ts/post-form/reply.ts
  pencil/resources/ts/post-form/textarea.ts
Due: prettier --write, eslint --fix --max-warnings 0

お詫びとして「16:9 画像フィットツール」を作成して
  pencil/app/Http/Controllers/TopController.php
  pencil/resources/ts/fit.ts
  pencil/resources/views/fit.blade.php
  pencil/resources/views/index.blade.php
  pencil/routes/web.php
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix --max-warnings 0, htmllint, textlint

ServiceWorker のキャッシュを更新して
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update composer
  pencil/composer.lock
Due: none

Update npm
  pencil/package-lock.json
Due: none

Write README and top page
  README.md
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/views/index.blade.php
Due: prettier --write, htmllint, textlint

Write README and top page
  README.md
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/ts/service-worker.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix --max-warnings 0, htmllint, textlint

npm をセキュリティアップデートして
  package.json
  pencil/package.json
Due: none

ツイートボタンの名前を修正して
  pencil/resources/ts/post-form/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

リプライの方法紹介動画を掲載して
  pencil/resources/views/index.blade.php
Due: prettier --write, htmllint, textlint

SnapShot Model を作成して
  pencil/app/Http/Controllers/ImageController.php
  pencil/app/SnapShot.php
  pencil/database/migrations/2020_05_09_052141_create_snap_shots_table.php
Due: none

Local
  pencil/.env.example
  pencil/package-lock.json
  pencil/public/draw.html
  pencil/resources/ts/index.ts
Due: prettier --write, eslint --fix --max-warnings 0, htmllint, textlint
