Repository hata6502/pencil: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

描画処理とタッチ判定を分割しました。
  .prettierrc.json
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/pointer-listener.ts
  pencil/resources/ts/stick-cursor.ts
Due: prettier --write, eslint --fix

ローカル環境のTwitterデバッグ環境を構築しました。
  pencil/.env.example
  pencil/app/Http/Controllers/AuthController.php
  pencil/app/Http/Controllers/TwitterController.php
  pencil/config/twitter.php
  pencil/config/twitteroauth.php
  pencil/resources/sass/_error.scss
  pencil/routes/web.php
Due: prettier --write, stylelint --fix

textlint を導入しました。
  .lintstagedrc.json
  .prettierrc.json
  .textlintrc.json
  package-lock.json
  package.json
  pencil/resources/views/index.blade.php
Due: prettier --write, htmllint, textlint

prettier 一括整形。
  pencil/resources/ts/app.ts
Due: prettier --write, eslint --fix

トーンを選択するテスト用UIを実装しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

トップページ、ヘッダーのデザインを実装しました。
  pencil/resources/sass/_top.scss
  pencil/resources/sass/app.scss
  pencil/resources/views/index.blade.php
Due: prettier --write, stylelint --fix, htmllint, textlint

htmllint を試験的に導入。
  .htmllintrc
  .lintstagedrc.json
  package-lock.json
  package.json
  pencil/resources/sass/_layout.scss
  pencil/resources/sass/_top.scss
  pencil/resources/sass/_typography.scss
  pencil/resources/sass/app.scss
  pencil/resources/views/draw.blade.php
  pencil/resources/views/html.blade.php
  pencil/resources/views/index.blade.php
  pencil/resources/views/meta.blade.php
Due: prettier --write, stylelint --fix, htmllint, textlint

エラーページをデザイン実装しました。
  .textlintrc.json
  README.md
  package-lock.json
  package.json
  pencil/.env.example
  pencil/config/maintainer.php
  pencil/resources/sass/_buttons.scss
  pencil/resources/sass/_colors.scss
  pencil/resources/sass/_error.scss
  pencil/resources/sass/_top.scss
  pencil/resources/sass/_typography.scss
  pencil/resources/sass/app.scss
  pencil/resources/ts/palette-button.ts
  pencil/resources/views/errors/404.blade.php
  pencil/resources/views/errors/500.blade.php
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

Pointer Event を Touch と Mouse で分けて記述しました。PWA のためのマニフェストを設置しました。スマホの画面に入るようにUI部品を位置変更。
  pencil/public/manifest.json
  pencil/resources/sass/_draw.scss
  pencil/resources/sass/_layout.scss
  pencil/resources/ts/pointer-listener.ts
  pencil/resources/ts/stick-cursor.ts
  pencil/resources/views/index.blade.php
  pencil/resources/views/meta.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

ServiceWorker を導入しました。
  pencil/.gitignore
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/sass/_draw.scss
  pencil/resources/sass/_layout.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/service-worker.ts
  pencil/tsconfig.json
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix, stylelint --fix

スマホ向けにUI部品を小さくしました。
  pencil/resources/sass/_draw.scss
  pencil/resources/sass/_layout.scss
  pencil/resources/views/index.blade.php
Due: prettier --write, stylelint --fix, htmllint, textlint

ServiceWorker のキャッシュを削除。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

ServiceWorker のアップデートを実装しました。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

キャンバスサイズを16:9に実験的に変更しました。
  pencil/resources/ts/settings.ts
Due: prettier --write, eslint --fix

ServiceWorker のバージョン変更。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

# This is a combination of 13 commits. # This is the 1st commit message: ServiceWorker を導入しました。
  pencil/.gitignore
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/sass/_draw.scss
  pencil/resources/sass/_layout.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/service-worker.ts
  pencil/resources/ts/settings.ts
  pencil/resources/views/index.blade.php
  pencil/tsconfig.json
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

WiiU向けに最小限の JavaScript Polyfill を導入しました。
  pencil/resources/ts/app.ts
Due: prettier --write, eslint --fix

コンストラクタでイベントを結び付けないように修正しました。
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/history-button.ts
  pencil/resources/ts/modal-dialog.ts
  pencil/resources/ts/modal-window.ts
  pencil/resources/ts/palette-button.ts
  pencil/resources/ts/pencil-button.ts
  pencil/resources/ts/pointer-listener.ts
  pencil/resources/ts/preview-canvas.ts
  pencil/resources/ts/stick-cursor.ts
  pencil/resources/ts/text-input.ts
  pencil/resources/ts/tone-canvas.ts
  pencil/resources/ts/virtual-element.ts
Due: prettier --write, eslint --fix

テキストを入力できるように修正。
  pencil/resources/ts/pointer-listener.ts
Due: prettier --write, eslint --fix

背景の設定および透明色の実装をしました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/background-button.ts
  pencil/resources/ts/drawing-canvas.ts
  pencil/resources/ts/palette-button.ts
  pencil/resources/ts/settings.ts
  pencil/resources/ts/virtual-element.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

キャンバスの表示サイズを変えられるように準備。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/background-button.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/drawing-window/history-button.ts
  pencil/resources/ts/drawing-window/modal-dialog.ts
  pencil/resources/ts/drawing-window/modal-window.ts
  pencil/resources/ts/drawing-window/palette-button.ts
  pencil/resources/ts/drawing-window/pencil-button.ts
  pencil/resources/ts/drawing-window/pointer-listener.ts
  pencil/resources/ts/drawing-window/stick-cursor.ts
  pencil/resources/ts/drawing-window/text-input.ts
  pencil/resources/ts/drawing-window/tone-canvas.ts
  pencil/resources/ts/preview-canvas.ts
  pencil/resources/ts/service-worker.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

ファイルからの背景画像読み込みを実装しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/background-canvas.ts
  pencil/resources/ts/drawing-window/background-file-button.ts
  pencil/resources/ts/drawing-window/background-file.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/preview-canvas.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

キャッシュ更新。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

Wii U では FileReader を使えないため、サーバーサイドで背景画像を DataURL に変換させるようにしました。
  pencil/app/Http/Controllers/TopController.php
  pencil/app/Http/Middleware/VerifyCsrfToken.php
  pencil/config/app.php
  pencil/resources/lang/ja/auth.php
  pencil/resources/lang/ja/pagination.php
  pencil/resources/lang/ja/passwords.php
  pencil/resources/lang/ja/validation.php
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/background-file.ts
  pencil/resources/views/index.blade.php
  pencil/routes/web.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

ServiceWorker のバージョン更新。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

displayCount がずれるバグを修正しました。
  pencil/resources/ts/drawing-window/modal-window.ts
Due: prettier --write, eslint --fix

FileReader が使える環境では、サーバーサイドで DataURL 変換させないようにしました。
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/background-file.ts
  pencil/resources/ts/drawing-window/modal-window.ts
Due: prettier --write, eslint --fix

ServiceWorker キャッシュクリア。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

StickCursor が常に動作しているバグを修正。
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/stick-cursor.ts
Due: prettier --write, eslint --fix

全消しボタンを作成しました。
  pencil/resources/sass/_draw.scss
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/views/index.blade.php
Due: prettier --write, eslint --fix, stylelint --fix, htmllint, textlint

テキスト貼り付け時にキャンバスを正規化するようにしました。
  pencil/resources/ts/drawing-window/drawing-canvas.ts
  pencil/resources/ts/settings.ts
Due: prettier --write, eslint --fix

テキスト設置のプレビューを表示するようにしました。
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/drawing-canvas.ts
Due: prettier --write, eslint --fix

ServiceWorker 更新。
  pencil/resources/ts/service-worker.ts
Due: prettier --write, eslint --fix

疑似 React ライブラリを自作して、動的レンダリングを実装中です。
  package-lock.json
  package.json
  pencil/.eslintrc.js
  pencil/resources/ts/@types/virtual-element.d.ts
  pencil/resources/ts/drawing-window/background-button.ts
  pencil/resources/ts/drawing-window/background-button.tsx
  pencil/resources/ts/virtual-element.ts
  pencil/tsconfig.json
Due: prettier --write, eslint --fix

ネストした動的レンダリングに対応しました。
  pencil/package-lock.json
  pencil/package.json
  pencil/resources/ts/app.ts
  pencil/resources/ts/drawing-window/background-button.tsx
  pencil/resources/ts/drawing-window/background-dialog.tsx
  pencil/resources/ts/settings.ts
  pencil/resources/ts/virtual-element.ts
  pencil/resources/views/index.blade.php
  pencil/tsconfig.json
  pencil/webpack.mix.js
Due: prettier --write, eslint --fix, htmllint, textlint

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{blade.php,html})) or (any of: *.{yaml,yml,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  htmllint: any of: *.{blade.php,html}
  textlint: (any of: *.{blade.php,html}) or (any of: *.{yaml,yml,md})
